body {
  overflow: auto;
  max-width: 1900px;
}
.element-box {
    width: 85px;
    height: 85px;
}
.element-box-border {
    border: 1px solid black ;
}
.element-name {
    font-size: 1rem;
    font-weight: 100;
    color: black;
}
.element-symbol {
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
}
