<!DOCTYPE html>
<html>
    <head>
      
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="css.css">

    </head>
    <body>
        <div id="H">
            H
          </div>
      <div id="He">
        He
      </div>

  <table id="table">
    <tbody>
      <tr v-for="row in rows" >
        <td>{{row.e1}}</td>
          <td id="e2">{{row.e2}}</td>
        </tr>
          
   </tbody>
  </table>
  <table id="table2">
      <tbody>
        <tr v-for="row in rows" >
            <td v-bind:style="'background-color:' + row.e9.color"> {{ row.e9.title }} </td>
            <td>{{row.e10}}</td>
            <td>{{row.e11}}</td>
            <td>{{row.e12}}</td>
            <td>{{row.e13}}</td>
            <td>{{row.e14}}</td>
            <td v-bind:style="'background-color:' + row.e15.color"> {{ row.e15.title }} </td>
            <td v-bind:style="'background-color:' + row.e16.color"> {{ row.e16.title }} </td>
            <td v-bind:style="'background-color:' + row.e17.color"> {{ row.e17.title }} </td>
            <td>{{row.e18}}</td>
          </tr>
        </tbody>
      </table>
  <table id="table3">
      <tbody>
        <tr v-for="row in rows" >
          <td v-bind:style="'background-color:' + row.e3.color"> {{ row.e3.title }} </td>
          <td v-bind:style="'background-color:' + row.e4.color"> {{ row.e4.title }} </td>
          <td v-bind:style="'background-color:' + row.e5.color"> {{ row.e5.title }} </td>
          <td v-bind:style="'background-color:' + row.e6.color"> {{ row.e6.title }} </td>
          <td v-bind:style="'background-color:' + row.e7.color"> {{ row.e7.title }} </td>
          <td v-bind:style="'background-color:' + row.e8.color"> {{ row.e8.title }} </td>
          </tr>
        </tbody>
      </table>
      <table id="table4">
        <tbody>
          <tr v-for="row in rows" >
            <td v-bind:style="'background-color:' + row.e19.color"> {{ row.e19.title }} </td>
            <td v-bind:style="'background-color:' + row.e20.color"> {{ row.e20.title }} </td>
            <td v-bind:style="'background-color:' + row.e21.color"> {{ row.e21.title }} </td>
            <td v-bind:style="'background-color:' + row.e22.color"> {{ row.e22.title }} </td>
            <td v-bind:style="'background-color:' + row.e23.color"> {{ row.e23.title }} </td>
            <td v-bind:style="'background-color:' + row.e24.color"> {{ row.e24.title }} </td>
            <td v-bind:style="'background-color:' + row.e25.color"> {{ row.e25.title }} </td>
            <td v-bind:style="'background-color:' + row.e26.color"> {{ row.e26.title }} </td>
            <td v-bind:style="'background-color:' + row.e27.color"> {{ row.e27.title }} </td>
            <td v-bind:style="'background-color:' + row.e28.color"> {{ row.e28.title }} </td>
            <td v-bind:style="'background-color:' + row.e29.color"> {{ row.e29.title }} </td>
            <td v-bind:style="'background-color:' + row.e30.color"> {{ row.e30.title }} </td>
            <td v-bind:style="'background-color:' + row.e31.color"> {{ row.e31.title }} </td>
            <td v-bind:style="'background-color:' + row.e32.color"> {{ row.e32.title }} </td>
            <td v-bind:style="'background-color:' + row.e33.color"> {{ row.e33.title }} </td>
            </tr>
          </tbody>
        </table>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
      <script  src="js.js"></script>
      
      
    </body>
</html>