<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="css.css">

    </head>
    <body>
        <div id="H">
            H
          </div>
      <div id="He">
        He
      </div>

  <table id="table">
    <tbody>
      <tr v-for="row in rows" >
        <td>{{row.e1}}</td>
          <td>{{row.e2}}</td>
        </tr>
          
   </tbody>
  </table>
  <table id="table2">
      <tbody>
        <tr v-for="row in rows" >
            <td>{{row.e9}}</td>
                 <td>{{row.e10}}</td>
                 <td>{{row.e11}}</td>
                 <td>{{row.e12}}</td>
                 <td>{{row.e13}}</td>
                 <td>{{row.e14}}</td>
                 <td>{{row.e15}}</td>
                 <td>{{row.e16}}</td>
                  <td>{{row.e17}}</td>
                  <td>{{row.e18}}</td>
          </tr>
        </tbody>
      </table>
  <table id="table3">
      <tbody>
        <tr v-for="row in rows" >
            <td>{{row.e3}}</td>
                 <td>{{row.e4}}</td>
                 <td>{{row.e5}}</td>
                 <td>{{row.e6}}</td>
                   <td>{{row.e7}}</td>
                    <td>{{row.e8}}</td>
          </tr>
        </tbody>
      </table>
      <table id="table4">
        <tbody>
          <tr v-for="row in rows" >
                      <td>{{row.e19}}</td>
                      <td>{{row.e20}}</td>
                      <td>{{row.e21}}</td>
                      <td>{{row.e22}}</td>
                      <td>{{row.e23}}</td>
                      <td>{{row.e24}}</td>
                      <td>{{row.e25}}</td>
                      <td>{{row.e26}}</td>
                      <td>{{row.e27}}</td>
                      <td>{{row.e28}}</td>
                      <td>{{row.e29}}</td>
                      <td>{{row.e30}}</td>
                      <td>{{row.e31}}</td>
                      <td>{{row.e32}}</td>
                      <td>{{row.e33}}</td>
            </tr>
          </tbody>
        </table>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
      <script  src="js.js"></script>
      
    </body>
</html>